[Unit]
Description=Redmine
Wants=network-online.target
After=network-online.target postgresql.service valkey.service redmine-storage-prepare.service
Requires=postgresql.service valkey.service redmine-storage-prepare.service
RequiresMountsFor=/data

[Service]
Type=simple
TimeoutStartSec=15min
User=redmine
Group=redmine
WorkingDirectory=/opt/redmine
EnvironmentFile=-/etc/default/redmine
RuntimeDirectory=redmine
ExecStartPre=/usr/bin/redmine-prepare
ExecStart=/usr/bin/ruby /opt/redmine/bin/rails server -e production -b ssl://0.0.0.0:3000?key=${REDMINE_SSL_KEY}&cert=${REDMINE_SSL_CERT}
Restart=on-failure
NoNewPrivileges=yes
PrivateTmp=yes
ProtectSystem=strict
ProtectHome=yes
ReadWritePaths=/data/redmine /data/log/redmine /run/redmine
CapabilityBoundingSet=
RestrictSUIDSGID=yes
LockPersonality=yes
MemoryDenyWriteExecute=yes

[Install]
WantedBy=multi-user.target
